if SHIELD_QUEFRENCY65MACRO_LEFT

config ZMK_KEYBOARD_NAME
	default "Quefrency 65Macro"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_QUEFRENCY65MACRO_LEFT || SHIELD_QUEFRENCY65MACRO_RIGHT

config ZMK_SPLIT
	default y

endif
